body {
  margin: 0;
  min-width: 960px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 59px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 1.06;
  color: #32425c;

  background-color: #f4f7f9;
}

.inner-page .main-header {
  margin-bottom: 20px;
}

.button {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.pushbutton {
  display: block;
  padding-right: 22px;
  padding-left: 22px;
  width: 91px;

  background-color: rgba(0, 0, 0, 0.1);
}

.pushbutton:hover,
.pushbutton:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.pushbutton:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.button.order {
  padding-right: 45px;
  padding-left: 49px;

  -webkit-box-shadow: inset 0px -3px 0 0 #367315;

          box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
}

.button.order:hover,
.button.order:focus {
  -webkit-box-shadow: inset 0px -3px 0 0 #367315;
          box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #5fbb2d;
}

.button.order:active {
  color: #ffffff;

  background-color: #518534;
}

.tab {
  padding-top: 7px;
  padding-bottom: 7px;
  color: #32425c;

  border: solid 3px #63a63e;
}

.tab:hover,
.tab:focus {
  border: solid 3px #32425c;
}

.tab:active {
  opacity: 0.3;
  border: solid 3px #32425c;
}

.top-header {
  background-color: #293449;
}

.top-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
  -webkit-box-align: start;
     -ms-flex-align: start;
   align-items: flex-start;
   -ms-flex-direction: row;
       flex-direction: row;

  background-color: #293449;
}

.top-header a:hover,
.top-header input:hover {
  background-color: #212a3a;
}

.top-header a:active {
  background-color: #161d29;
}

.top-header input:focus {
  font-size: 17px;
  line-height: 1.06;
  color: #000000;

  background-color: #ffffff;
}

.top-header a.logo {
  padding-top: 12px;
  padding-right: 56px;
  padding-bottom: 12px;
  padding-left: 55px;
  margin-bottom: -5px;

  -webkit-box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

a.logo[href]:hover,
a.logo:focus {
  -webkit-box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ca2c37;
}

a.logo[href]:active {
  -webkit-box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ba2732;
}

.top-header a {
  padding-top: 10px;
  padding-bottom: 14px;

  color: #ffffff;
}

.top-header input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 270px;
  padding-top: 9px;
  padding-right: 20px;
  padding-bottom: 11.5px;
  padding-left: 47px;
  margin-left: 0;
  margin-right: 0;

  color: #ffffff;

  background-color: #293449;
  border: none;
}

.inner-page input[type="search"] {
   width: 265px;
}

.search input::-webkit-input-placeholder {
  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 1.06;
}

.search input::-moz-placeholder {
  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 1.06;
}

.search input:-moz-placeholder {
  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 1.06;
}

.search input:-ms-input-placeholder {
  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 1.06;
}

.search {
  position: relative;
}

.search svg {
  position: absolute;
  top: 10px;
  left: 17px;
}

.search input ~ svg {
  opacity: 0.3;
}

.search input:hover ~ svg,
.search input:focus ~ svg {
  opacity: 1;
}

.search input:focus ~ svg path {
  fill: #ee3643;
}

.top-header .bookmark {
  position: relative;

  padding-right: 27px;
  padding-left: 44px;
}

.inner-page {
  padding-right: 26px;
  padding-left: 49px;
}

.inner-page .bookmark {
  padding-left: 47px;
  padding-right: 26px;
}

.bookmark:active {
  opacity: 0.5;
}

.bookmark::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 17px;

  width: 15px;
  height: 18px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.bookmark:hover::before,
.bookmark:focus::before,
.basket:hover::before,
.basket:focus::before {
  opacity: 1;
}

.bookmark:active::before,
.basket:active::before {
  opacity: 0.5;
}

.top-header .basket {
  position: relative;

  padding-right: 31px;
  padding-left: 50px;
}

.inner-page .basket {
  padding-right: 26px;
  padding-left: 49px;
}

.basket::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 18px;

  width: 18px;
  height: 18px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.inner-page .basket {
  background-color: #ee3643;
}

.top-header .place-order {
  padding-right: 22px;
  padding-left: 20px;

  background-color: #63a63e;
}

.top-header .place-order:hover,
.top-header .place-order:focus {
  background-color: #5fbb2d;
}

.top-header .place-order:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.top-header a,
.main-navigation a {
  color: #ffffff;
}

.bottom-header {
  padding-bottom: 60px;
}

.container.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 887px;
  padding-top: 42px;
  padding-bottom: 41px;
  padding-left: 50px;
  padding-right: 0;

  color: #32425c;

  background-color: #f4f7f9;
}

.market-name {
  margin: 0;
  padding: 0;
  margin-right: 71px;
  margin-top: 5px;
  width: 197px;
  min-height: 60px;

  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.44;
  color: #ee3643;
}

.header-contacts {
  position: relative;

  font-size: 14px;
  line-height: 1.71;
  color: #32425c;
}

.header-contacts a {
  display: block;
  padding-top: 11px;
  padding-right: 49px;
  padding-bottom: 9px;
  padding-left: 71px;

  font-size: 21px;
  line-height: 1;
  color: #e9292a;

  border: 3px solid #ffffff;
}

.header-contacts a::before {
  content: "";

  position: absolute;
  top: 15px;
  left: 15px;

  width: 21px;
  height: 21px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-contacts p {
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-left: 10px;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;

  list-style: none;
}

.user-navigation a {
  display: block;
  padding-top: 14px;
  padding-bottom: 11px;

  font-size: 21px;
  line-height: 1;
  color: #000000;

  background-color: #ffffff;
}

 .user-icon a {
  position: relative;

  display: block;
  padding-right: 26px;
  padding-left: 43px;
  margin-right: 9px;

  color: #000000;
}

.user-icon svg {
  position: absolute;
  left: 10px;
  top: 16px;
}

.inner-page .user-name {
  padding-right: 37px;
  margin-right: 0;
}

.inner-page .user-name:hover,
.inner-page .user-name:focus {
  color: #000000;
}

.inner-page .user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-icon path {
  fill: #c5c5c5;
}

.user-icon:hover path,
.user-icon:focus path {
  fill: #32425C;
}

.user-name:active path {
  fill: #c5c5c5;
}

.exit {
  padding-right: 9px;
}

.exit:hover path {
  fill: #32425C;
}

.exit:active path {
  fill: #c5c5c5;
}

.user a {
  padding-right: 24px;
  padding-left: 24px;
}

.authorization a  {
  display: inline-block;

  color: #32425c;
  text-decoration: underline;
}

.authorization a:hover {
  color: #ee3643;
}

.inner-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  margin-left: auto;
}

.authorization li {
  display: inline-block;
}

.authorization {
  margin: 0;
  padding: 0;
}

.authorization li:first-child {
  padding-top: 7px;
  padding-right: 28px;
  padding-left: 20px;
}

.personal-account {
  position: relative;
}

.personal-account::before {
  content: "";

  position: absolute;
  top: 6px;
  left: -17px;;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 50%;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
  padding-left: 21px;
  padding-right: 24px;

  list-style: none;
  -webkit-box-shadow: inset 0px -5px 0 0 #293449;
          box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}

.main-navigation a {
  display: block;
  padding-top: 19px;
  padding-right: 30px;
  padding-bottom: 23px;
  padding-left: 30px;
}

.main-navigation a[href]:hover,
.main-navigation a[href]:focus {
  -webkit-box-shadow: inset 0px -5px 0 0 #293449;
          box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #293449;
}

.main-navigation a[href]:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

a.tab:active,
a.basket:active {
  color: rgba(255, 255, 255, 0.6);
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.goods-navigation a:hover {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

main.container {
  background-color: #ffffff;
}

.top li {
  margin-bottom: 20px;
}

.top,
.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.top b,
.bottom b {
  display: block;
  padding-top: 21px;
  padding-right: 109px;
  padding-bottom: 11px;
  padding-left: 23px;

  font-family: "Cuprum", Arial, Sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: bold;
  color: #ffffff;
}

.material {
  margin-right: 20px;

  background-color: #ffbf47;
  background-image: url("../img/icon-material.svg");
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.top .pushbutton,
.bottom .pushbutton {
  margin-bottom: 23px;
  margin-left: 25px;
}

.bottom .pushbutton,
.equipment .pushbutton {
  margin-left: 23px;
}

.bottom {
  width: 300px;
}

.tool {
  background-color: #3bbce3;
  margin-right: 20px;

  background-image: url("../img/icon-tool.svg");
  background-repeat: no-repeat;
  background-position: 197px 33px;
}

.equipment {
  background-color: #dc91d8;
  background-image: url("../img/icon-equipment.svg");
  background-repeat: no-repeat;
  background-position: 191px 31px;
}

.discount {
  background-color: #8ed78f;
  margin-bottom: 20px;

  background-image: url("../img/icon-discount.svg");
  background-repeat: no-repeat;
  background-position: 196px 26px;
}

.bottom .delivery-top {
  background-color: #ffc047;
  background-image: url("../img/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: 191px 32px;
}

.bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.item-slider {
  position: relative;
}

.top li,
.bottom li {
  width: 300px;
}

.slider-item {
  position: relative;
}

.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-slider {
  margin-bottom: 52px;
}

.slider {
  margin: 0;
  padding: 0;
  width: 620px;
  height: 266px;

  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;

  list-style: none;
  background-color: #000000;
}

.slider-item {
  position: relative;
}

.slider-item .button-back {
  position: absolute;
  top: 113px;
  left: 25px;

  width: 22px;
  height: 40px;

  background: url("../img/icon-left.svg");
  border: 0;

  cursor: pointer;
}

.slider-item .button-next {
  position: absolute;
  top: 113px;
  right: 20px;

  width: 22px;
  height: 40px;

  background: url("../img/icon-left.svg");
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  border: 0;

  cursor: pointer;
}

.slider-item .button-indicator-1,
.slider-item .button-indicator-2 {
  position: absolute;
  padding: 0;
  bottom: 44px;
  left: 295px;

  width: 10px;
  height: 10px;

  background-color: #ffffff;
  border: 0;
  border-radius: 50%;

  cursor: pointer;
}

.slider-item .button-indicator-2 {
  left: 315px;
}

.button-indicator.active::before {
  content: "";
  position: absolute;

  padding: 0;
  top: 2px;
  left: 2px;
  z-index: 1;

  width: 6px;
  height: 6px;

  background-color: red;
  border: 0;
  border-radius: 50%;

  cursor: pointer;
}

.slide-1 {
  display: block;
}

.slide-2 {
  display: none;
}

.slider .button {
  position: absolute;
  top: 206px;
  left: 25px;

  display: block;
  padding-right: 46px;
  padding-left: 55px;
}

.slider b {
  position: absolute;
  top: 23px;
  left: 24px;

  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

.slider p {
  position: absolute;
  top: 42px;
  left: 25px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.33;
}

.slider-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;

  vertical-align: top;

  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.slider-controls {
  position: absolute;
  top: 220px;
  left: 295px;
  z-index: 20;

  font-size: 0;
}

.popular-goods .header,
.popular-brands .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f9f5f0;
}

.popular-goods .header {
  margin-bottom: 21px;
}

.popular-goods .button,
.popular-brands .button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 253px;
  margin-top: 25px;
  margin-right: 24px;
  margin-bottom: 26px;
  margin-left: auto;
}

.popular-goods h2,
.popular-brands h2 {
  margin-top: 30px;
  margin-bottom: 29px;
  margin-left: 28px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 20px;

  list-style: none;

}

.brand {
  border: solid 1px #eaeaea;
}

.good .tab,
.good .order {
  display: block;
}

p.hover-visible {
  margin: 0;
  padding: 0;
  margin-top: 44px;
  margin-right: 42px;
  margin-left: 41px;

  background-color: #ffffff;
}

.hover-visible .buy,
.hover-visible .tab {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;

  border-radius: 3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.hover-visible .buy {
  padding: 10px 0;
  padding-left: 4px;
  border: 0;

  -webkit-box-shadow: inset 0px -3px 0 0 #367315;

          box-shadow: inset 0px -3px 0 0 #367315;
}

.hover-visible .buy:hover {
  background-color: #5fbb2d;
}

.hover-visible .buy:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.hover-visible .tab:hover {
  border: solid 3px #32425c;
}

.hover-visible .tab:active {
  color: #32425c;

  border: solid 3px #32425c;
  opacity: 0.3;
}

.good h3 {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 11px;

  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: #000000;
}

.good-title:hover h3 {
  text-decoration: underline;
}

.good-title:active h3 {
  opacity: 0.3;
}

.popular-goods {
  margin-bottom: 20px;
}

.good .deleted-price {
  padding: 0;
  margin: 0;

  color: #a9a9a9;
  text-decoration: line-through;
}

.goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.inner-page .goods {
  width: 700px;
}

.good {
  position: relative;
  display: inline-block;
  width: 218px;
  min-height: 315px;
  margin-right: 20px;

  line-height: 20px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;

  border: 1px solid #e5e5e5;
}

.popular-goods .good:nth-child(4n) {
  margin-right: 0;
}

.inner-page .good {
  margin-right: 20px;
  margin-bottom: 20px;
}

.inner-page .good:nth-child(3n) {
  margin-right: 0;
}

.goods {
  font-size: 0;
}

.good {
  font-size: 16px;
}

.good .flag,
.item-slider .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 2;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
}

.item-slider .flag {
  top: 0;
  right: 0;
}

.good .flag-new,
.item-slider .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.good .hover-visible {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255,255,255,0.9);
}

.hover-visible .tab {
  color: #32425c;

  background: #ffffff;
}

.good .hover-visible {
  display: none;
}

.good:hover .hover-visible {
  display: block;

  background-color: #ffffff;
}

.good:hover {
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.good .image {
  width: 218px;
  height: 168px;
}

.good .image img {
  max-width: 100%;
}

.good .h3 {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.good .deleted {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;

  color: #999999;
  text-decoration: line-through;
}

.good p {
  margin: 0;
  padding: 0;
}

.good .price {
  position: relative;

  padding: 0;
  margin: 0;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 27px;

  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  color: #ffffff;

  background: #ee3643;
  border-radius: 3px;
}

.good .price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -23px;

  width: 0;
  height: 0;

  border: 19px solid #ffffff;
  border-left-color: #ee3643;
}

.deleted-price.none {
  opacity: 0;
  visibility: hidden;
}

 a.brand:hover,
 a.brand:focus {
   -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
           box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

a.brand:active {
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.3;
  -webkit-box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 217px;
  height: 143px;
  margin-bottom: 20px;
}

.brand img {
  margin: 0;
  padding: 0;
  margin: auto;
}
.brands {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popular-brands {
  margin-bottom: 65px;
}

.services p,
.services h2,
.services h3 {
  margin: 0;
  padding: 0;
}

section.services {
  background-color: #f4f7f9;
}

section.services .container {
  padding-top: 65px;
  padding-bottom: 20px;
}

.services-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.service-slide {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
     -ms-flex-align: start;
   align-items: flex-start;
  min-height: 262px;
}

.delivery::before {
  content: "";

  position: absolute;
  top: 21px;
  left: 470px;

  width: 468px;
  height: 261px;

  background-image: url("../img/delivery.png");
}

.delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.guaranty {
  display: none;
}

.credit {
  display: none;
}

.credit::before {
  content: "";

  position: absolute;
  top: -3px;
  left: 484px;

  width: 465px;
  height: 285px;

  background-image: url("../img/credit.png");
}

.credit p {
  margin-bottom: 32px;
}

.button-credit {
  padding-right: 45px;
  padding-left: 45px;
}

.guaranty p {
  display: block;
  width: 379px;
}

.guaranty::before {
  content: "";

  position: absolute;
  top: 0;
  left: 558px;

  width: 389px;
  height: 283px;

  background-image: url("../img/guaranty.png");
}

.credit p {
  display: block;
  width: 279px;
}

.delivery p {
  display: block;
  margin: 0;
  padding: 0;
  width: 275px;
}

.services .container > p {
  width: 398px;
  margin-bottom: 70px;
}

.services h3 {
  margin-top: -3px;
  margin-bottom: 26px;
}

.credit-wrapper,
.delivery-wrapper,
.guaranty-wrapper {
  margin-left: 80px;
}

.services h2,
.services h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
}

.services h2,
.about-us h2,
.contacts h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 27px;

  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}

.button-write {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 86px;
}

.bottom-wrapper .button-company {
  padding-left: 39px;
  padding-right: 41px;
}

section.about-us {
  width: 520px;
}

.about-us p {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

section.contacts {
  width: 300px;
}

.services h3 {
  font-size: 36px;
  color: #32425c;
}

.services-slider {
  position: relative;
}

.services-list button {
  width: 240px;
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 22px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.43;
  text-align: left;
  text-transform: capitalize;

  -webkit-box-shadow: 0px 1px 0 0 #293449,
                inset 0px 1px 0 0 #405069;
          box-shadow: 0px 1px 0 0 #293449,
                inset 0px 1px 0 0 #405069;
  border-radius: 0px;
  background-color: #32425c;
}

.services-list button:hover {
  background-color: #293449;

  cursor: pointer;
}

.services-list button:active,
.services-list button:focus {
  color: #32425c;

  -webkit-box-shadow: 0px 1px 0 0 #ffffff,
                inset 0px 1px 0 0 #ffffff;

          box-shadow: 0px 1px 0 0 #ffffff,
                inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;

  cursor: pointer;
}

.services-list .current,
.services-list .current:hover,
.services-list .current:focus {
  color: #32425c;

  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;

  cursor: default;
}

.services-list::after {
  content: "";

  position: absolute;
  top: -46px;
  left: 230px;

  width: 10px;
  height: 279px;

  background-image: url("../img/divider.png");
}


.about-us h2,
section.contacts h2 {
  margin-bottom: 26px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 1;
  color: #000000;
}

.transport {
  padding: 0;
  margin: 0;
  margin-top: -4px;
  margin-bottom: 46px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.11;
  list-style: none;
}

.transport li {
  position: relative;
  padding-bottom: 20px;
  padding-left: 36px;
}

.transport li:last-child {
  padding-bottom: 0;
}

.transport li::before {
  content: "";

  position: absolute;
  top: 9px;
  left: 0px;
  height: 2px;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

section.contacts p {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

section.contacts img {
  margin-bottom: 33px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-top {
  background-color: #32425c;
}

.footer-bottom {
  background-color: #293449;
}

footer .logo {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-right: 41px;
  padding-bottom: 18px;
  padding-left: 41px;
  margin-right: 20px;
  margin-bottom: 11px;

  vertical-align: center;

  -webkit-box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.footer-top,
.footer-top a,
.footer-bottom {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: #f1f5f7;
}

.footer-contacts,
.footer-contacts a {
  font-size: 18px;
  line-height: 1.33;
  color: #f3f7f9;
}

.footer-contacts {
  margin-bottom: 52px;
  margin-left: 2px;
}

.footer-contacts a {
  display: block;
}

.inner-page footer {
  margin-top: 0;
}

.inner-page .footer-top {
  margin-top: 0;
}

.footer-main-navigation,
.goods-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0;
  padding: 0;
  margin-left: auto;

  list-style: none;
}

.footer-main-navigation {
  margin-bottom: 18px;
}

.footer-main-navigation a {
  color: #f1f5f7;
}

.goods-navigation {
  margin-bottom: 73px;
}

.footer-main-navigation li,
.goods-navigation li {
  margin-right: 60px;
}

.footer-main-navigation li:last-child,
.goods-navigation li:last-child {
  margin-right: 0;
}

.goods-navigation a,
.goods-navigation a:hover {
  color: #ffd180;
}

.goods-navigation a:hover,
.footer-main-navigation a:hover {
  text-decoration: underline;
  background-color: inherit;
}

.goods-navigation a:active,
.footer-main-navigation a:active {
  text-decoration: none;
  opacity: 0.5;
  background-color: inherit;
}

.footer-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 36px;
  padding-right: 8px;
  padding-bottom: 38px;
}

.footer-copyright {
  margin: 0;
  padding: 0;
  margin-right: 162px;

  font-size: 16px;
  line-height: 1.13;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 132px;
  margin: 0;
  margin-top: -2px;
  margin-right: 119px;
  padding: 0;

  list-style: none;
}

.social-button {
  display: block;
  position: relative;
  width: 42px;
  height: 42px;

  border-radius: 50%;
  background-color: #212a3a;
}

.social-button-vk {
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button-fb {
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button-insta {
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.contact,
.copyright-html {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 1.13;
}

.contact {
  margin-right: 53px;
}

.contact a,
.copyright-html a {
  display: block;
  color: #ffd180;
}

.contact a:hover,
.copyright-html a:hover {
  text-decoration: underline;
}

.contact a:active,
.copyright-html a:active {
  color: #ee3643;
  text-decoration: none;
}

.user-navigation a {
  font-size: 21px;
  line-height: 1;
  color: #000000;
}

.user-navigation .exit {
  color: #c5c5c5;
}

.authorization {
  list-style: none;
}

.authorization a {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
}

.authorization a:hover,
.authorization a:focus {
color: #ee3643;
}

.authorization a:active {
  color: rgba(50, 66, 92, 0.3);
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  margin: 0;
  margin-bottom: 21px;

  font-size: 13px;
  line-height: 1.38;
  color: #000000;
  text-transform: uppercase;
  list-style: none;
}

.breadcrumbs a {
  font: inherit;
  color: inherit;
}

.page-title {
  margin: 0;
  padding: 0;
  padding: 30px;
  padding-left: 28px;
  margin-bottom: 20px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  color: #32425c;

  text-transform: uppercase;
  background-color: #f2f6f8;
}

.breadcrumbs li {
  position: relative;

  margin-right: 34px;
}

.breadcrumbs li:nth-child(2) {
  margin-right: 40px;
}

.breadcrumbs li:nth-child(3) {
  margin-right: 45px;
}

.breadcrumbs li:first-child {
  padding-left: 20px;
}

.breadcrumbs .icon-home::before {
  content: "";

  position: absolute;
  top: 2px;
  right: 8px;

  width: 14px;
  height: 12px;

  background: url(../img/icon-home.svg);
}

.breadcrumbs .icon-home:hover::before {
  opacity: 0.5;
}

.breadcrumbs .icon-home:active::before {
  opacity: 0.3;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 2px;
  right: -16px;

  width: 8px;
  height: 12px;

  background: url(../img/icon-right-small.svg);
}

.breadcrumbs li:nth-child(2)::after,
.breadcrumbs li:nth-child(3)::after {
  right: -26px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}

.perforator {
  background-color: #f4f7f9;
}

.filter,
.sort {
  color: #000000;
  text-transform: uppercase;
}

.filter {
  width: 220px;
  min-height: 746px;
  margin-right: 20px;
}

.filter h2,
.sort h2 {
  margin: 0;
  padding: 0;
  padding-left: 18px;

  font-size: 13px;
  line-height: 1.38;
  font-weight: normal;

  background-color: #f7f3ec;
}

.filter h2 {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 12px;
}

.sort h2 {
  padding-right: 140px;
}

.filter ul {
  padding: 0;
  margin: 0;

  list-style: none;
  line-height: 1.33;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f7f3ec;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;

  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;

          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-controls span {
  font-size: 16px;
  line-height: 1.13;
  text-align: center;
  color: #444444;
}

.price-controls input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 95px;
  padding: 10px 10px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 1.06;
  text-align: center;
  color: #000000;

  border: none;
  border-radius: 5px;
  background: #f7f3ec;
}

.filter legend {
  margin-bottom: 14px;

  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
}

.filter fieldset {
  position: relative;

  padding: 0;
  margin: 0;
  margin-bottom: 42px;
}


.filter fieldset:first-child::after,
.filter fieldset:nth-child(2)::after {
  content: "";

  position: absolute;
  top: 195px;
  left: 0;

  width: 220px;
  height: 1px;

  background-color: #e5e5e5;
}

.filter fieldset:nth-child(2)::after {
  top: 246px;
}

.filter fieldset:nth-child(2) {
  margin-bottom: 22px;
}

.filter label {
  font-size: 15px;
  line-height: 1.33;
}

.filter-option {
  margin-bottom: 21px;
  padding-left: 34px;
}

.filter-option label {
  position: relative;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-option input:enabled  ~ label {
  cursor: pointer;
}


.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;

  width: 23px;
  height: 23px;

  background: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:enabled:hover + label::before {
  background: url("../img/checkbox-off-hover.svg");
}

.filter-input-checkbox:enabled:checked + label::before {
  content: "";

  position: absolute;
  left: -35px;
  top: 0;

  width: 27px;
  height: 23px;

  background: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:enabled:checked:hover + label::before {
  background: url("../img/checkbox-on-hover.svg")
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -35px;
  top: -3px;

  width: 17px;
  height: 17px;

  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:enabled:hover + label::before {
  border: 4px solid #b5b5b5;
}

.filter-input-radio:enabled:checked + label::after {
  content: "";

  position: absolute;
  left: -27px;
  top: 5px;

  width: 9px;
  height: 9px;

  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:enabled:checked:hover + label::after {
  background-color: #b5b5b5;
}

.button-filter {
  margin-top: 16px;
  padding-right: 40px;
  padding-left: 37px;

  font-family: "PT Sans", Arial, sans-serif ;
  font-size: 13px;
  line-height: 1.38;
  color: #000000;

  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

input[type="number"] {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.06;
  text-align: center;
  color: #000000;

  background-color: #f7f3ec;
}

.filter-input-radio:checked:disabled + label::after,
.filter-input-radio:disabled + label::before,
.filter-input-checkbox:checked:disabled + label::after,
.filter-input-checkbox:disabled + label::before {
  opacity: 0.3;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 700px;
  min-height: 38px;
  margin-bottom: 20px;

  background-color: #f7f3ec;

}

.sort-item,
.sort-item-current {
  display: block;
  margin-right: 68px;

  font-family: inherit;
  font-size: 13px;
  line-height: 1.38;
  color: rgba(0, 0, 0, 0.18);

  border-bottom: 1px dotted #ee3643;
}

.sort-item-function {
  margin-right: 46px;
}

.sort-item:hover,
.sort-item:focus {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}

.sort-item:active {
  color: #ee3643;

  border: none;
}

.sort-item.current,
.sort-item.current:hover,
.sort-item.current:focus,
.sort-item.current:active {
  color: #ee3643;

  border: none;
}

.current {
  cursor: default;
}

.sort-indicator-up svg {
  margin-right: 21px;
}

.sort-indicator-up path,
.sort-indicator-down path {
  fill: #c5c5c5;
}

.sort-indicator-down {
  margin-right: 17px;

  -webkit-transform: rotate(180deg);

      -ms-transform: rotate(180deg);

          transform: rotate(180deg);
}

.sort-indicator-up:hover path,
.sort-indicator-down:hover path {
  fill: #231F20;
}

.sort-indicator-up.current path,
.sort-indicator-down.current path,
.sort-indicator-up.current:hover path,
.sort-indicator-down.current:hover path {
  fill: #ee3643;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 274px;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;

  list-style: none;
  min-height: 38px;
}

.pagination-item a {
  display: block;
  padding: 9px 14px;

  font-size: 13px;
  line-height: 1.38;
  color: #000000;
  text-transform: uppercase;

  border: solid 1px #e5e5e5;
  border-radius: 2px;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item:last-child {
  margin-right: 0;
}

 .pagination-item:last-child a {
  padding-left: 29px;
  padding-right: 31px;
}

.pagination-item a:hover,
.pagination-item a:focus,
.button-filter:hover,
.button-filter:focus {
   background-color: #ffffff;
   border: solid 1px #bdc6ca;
}

.pagination-item a:active,
.button-filter:active {
  background-color: #ffffff;
  border: solid 1px #ee3643;
}

.pagination-item-current a {
  padding: 10px 15px;
  color: #ffffff;

  border: 0;
  background-color: #ee3643;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #ffffff;

  border: 0;
  background-color: #ee3643;
}

.inner-page .goods {
  margin-bottom: 34px;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.perforator {
  padding-top: 65px;
  padding-bottom: 68px;

  background-color: #f4f7f9;
}

section.perforator h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  text-transform: uppercase;
}

section.perforator p {
  margin: 0;
  padding: 0;
}

.modal {
  position: fixed;
  z-index: 3;

  background-color: #ffffff;
}

.modal-write,
.modal-order {
  border-top: 7px solid #ee3643;
  -webkit-box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
          box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.modal-write {
  display: none;
  bottom: 200px;
  left: 50%;
  padding-top: 46px;

  margin-left: -310px;
}

.modal-wrapper {
  padding-right: 80px;
  padding-left: 80px;
  width: 460px;
}

.modal-close {
  position: absolute;
  z-index: 5;

  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;

  font-size: 0;

  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  border: 0;

  cursor: pointer;
}

.modal-write label {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 1;
  color: #000000;
}

.modal-write .user-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
}

.modal-write input,
.modal-write textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 9px;
  padding-left: 14px;
  width: 220px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  color: #999999;

  border: 2px solid #dee3e4;
}

.modal-write textarea {
  width: 100%;
  min-height: 114px;
  margin-bottom: 29px;
}

.modal-write input:hover,
.modal-write textarea:hover {
  border: solid 2px #999999;
}

.modal-write input:focus,
.modal-write textarea:focus {
  border: solid 2px #ee3643;
}

.modal-write .button-submit {
  padding-top: 37px;
  padding-bottom: 37px;
  width: auto;

  background-color: #f4f4f4;
}

.modal-write .button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  margin: 0;

  -webkit-box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
          box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
  background-color: #565656;
}

.modal-map {
  display: none;
  top: 50%;
  left: 50%;

  width: 940px;
  height: 447px;
  margin-top: -223px;
  margin-left: -470px;
}

.modal-map iframe {
  position: relative;
  z-index: 4;
  border: none;
}

.modal-order {
  display: none;
  top: 200px;
  left: 50%;

  padding-top: 65px;
  margin-left: -310px;
}

.modal-order p {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  margin-bottom: 67px;
  padding-left: 99px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 1;
  color: #000000;
}

.modal-order p::before {
  content: "";

  position: absolute;
  top: 49px;
  left: 80px;

  width: 66px;
  height: 66px;

  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-order .button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  padding-top: 12px;
  padding-left: 24px;
}

.modal-order .back {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;

  padding-top: 12px;
  padding-left: 24px;
  color: #000000;

  background-color: #ffffff;
}

.order .modal-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 37px;
  padding-bottom: 38px;

  background-color: #f1f1f1;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.3s;
          animation: bounce 0.3s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}


@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }

  70% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }

  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}


@keyframes bounce {
  0% {
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }

  70% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }

  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  background-color: rgba(0 0 0 0.3);
}
