body {
  margin: 0;
  min-width: 960px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*
.visually-hidden-input {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

header.main {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 1.06;
  color: #32425c;

  background-color: #f4f7f9;
  margin-bottom: 59px;
}

.button {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.pushbutton {
  display: block;
  padding-right: 22px;
  padding-left: 22px;
  width: 91px;

  background-color: rgba(0, 0, 0, 0.1);
}

.pushbutton:hover,
.pushbutton:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.pushbutton:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.button.order {
  padding-right: 45px;
  padding-left: 49px;

  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
}

.button.order:hover,
.button.order:focus {
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #5fbb2d;
}

.button.order:active {
  color: #ffffff;

  background-color: #518534;
}

.tab {
  padding-top: 7px;
  padding-bottom: 7px;
  color: #32425c;

  border: solid 3px #63a63e;
}

.tab:hover,
.tab:focus {
  border: solid 3px #32425c;
}

.tab:active {
  opacity: 0.3;
  border: solid 3px #32425c;
}

.top-header {
  background-color: #293449;
}

.top-header .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-direction: row;

  background-color: #293449;
}

.top-header a:hover,
.top-header input:hover {
  background-color: #212a3a;
}

.top-header a:active {
  background-color: #161d29;
}

.top-header input:focus {
  font: 17px;
  line-height: 1.06;
  color: #000000;

  background-color: #ffffff;
}

.top-header a.logo {
  padding-top: 12px;
  padding-right: 56px;
  padding-bottom: 12px;
  padding-left: 55px;
  margin-bottom: -5px;

  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.inner-page a.logo:hover,
a.logo:focus {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ca2c37;
}

.inner-page a.logo:active {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ba2732;
}

.top-header a {
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
}

.top-header input {
  box-sizing: border-box;
  width: 270px;
  padding-top: 11px;
  padding-right: 20px;
  padding-bottom: 11.5px;
  padding-left: 49px;
  margin-left: 0;
  margin-right: 0;

  color: #ffffff;

  background-color: #293449;
  border: none;
}

.search input::-webkit-input-placeholder {
  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 1.06;
}

.search input::-moz-placeholder {
  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 1.06;
}

.search input:-moz-placeholder {
  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 1.06;
}

.search input:-ms-input-placeholder {
  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 1.06;
}

.search {
  position: relative;
}

.search svg {
  position: absolute;
  top: 10px;
  left: 17px;
}

.search input ~ svg {
  opacity: 0.3;
}

.search input:hover ~ svg {
  opacity: 1;
}

.search input:focus ~ svg path {
  fill: #ee3643;
}

.top-header .bookmark {
  position: relative;
  padding-right: 28px;
  padding-left: 44px;
}

.inner-page .bookmark {
  padding-right: 20px;
}

.bookmark:active {
  opacity: 0.5;
}

.bookmark::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 15px;
  height: 18px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.bookmark:hover::before,
.bookmark:focus::before,
.basket:hover::before,
.basket:focus::before {
  opacity: 1;
}

.bookmark:active::before,
.basket:active::before {
  opacity: 0.5;
}

.top-header .basket {
  position: relative;
  padding-right: 31px;
  padding-left: 50px;
}

.basket::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 18px;
  height: 18px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.inner-page .basket {
  background-color: #ee3643;
}

.top-header .place-order {
  padding-right: 22px;
  padding-left: 20px;

  background-color: #63a63e;
}

.top-header .place-order:hover,
.top-header .place-order:focus {
  background-color: #5fbb2d;
}

.top-header .place-order:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.header-wrapper {
  display: flex;
  margin-left: auto;
}

.top-header a,
.main-navigation a {
  color: #ffffff;
}

.middle-header {
  padding-bottom: 60px;
}

.container.header-content {
  display: flex;
  flex-wrap: wrap;
  color: #32425c;
  width: 887px;
  padding-top: 46px;
  padding-bottom: 43px;
  padding-left: 53px;
  padding-right: 0;

  background-color: #f4f7f9;
}

.market-name {
  margin: 0;
  padding: 0;
  margin-right: 71px;
  margin-top: 8px;
  width: 197px;
  min-height: 60px;

  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.44;
  color: #ee3643;
}

.header-contacts {
  position: relative;
  font-size: 14px;
  line-height: 1.71;
  color: #32425c;
}

.header-contacts a {
  display: block;
  padding-top: 10px;
  padding-right: 49px;
  padding-bottom: 9px;
  padding-left: 71px;
  margin-bottom: 10px;

  font-size: 21px;
  line-height: 1;
  color: #e9292a;

  border: 3px solid #ffffff;
}

.header-contacts a::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 15px;

  width: 21px;
  height: 21px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-contacts p {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 10px;
}

.user-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;

  list-style: none;
}

.user-navigation a {
  display: block;
  font-size: 21px;
  line-height: 1;
  color: #000000;
  padding-top: 14px;
  padding-bottom: 11px;

  background-color: #ffffff;
}

 .user-icon a {
  display: block;
  padding-right: 26px;
  padding-left: 10px;
  margin-right: 10px;
  color: #000000;
}

.inner-page .user-name {
  padding-right: 40px;
  margin-right: 0;
}

.inner-page .user-name:hover,
.inner-page .user-name:focus {
  color: #000000;
}

.inner-page .user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-icon path {
  fill: #c5c5c5;
}

.user-icon:hover path,
.user-icon:focus path {
  fill: #32425C;
}

.user-icon:active path {
  fill: #c5c5c5;
}

.exit {
  padding-right: 10px;
}

.exit:hover path {
  fill: #32425C;
}

.user a {
  padding-right: 24px;
  padding-left: 24px;
}

.authorization a  {
  display: inline-block;
}

.inner-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin-left: auto;
}

.authorization li {
  display: inline-block;
}

.authorization {
  margin: 0;
  padding: 0;
}

.authorization li:first-child {
  padding-top: 10px;
  padding-right: 32px;
  padding-left: 20px;
}

.personal-account:active  {
  visibility: hidden;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  list-style: none;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}

.main-navigation a {
  display: block;
  padding-top: 21px;
  padding-right: 31px;
  padding-bottom: 21px;
  padding-left: 31px;
}

.main-navigation a:hover,
.main-navigation a:focus {
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #293449;
}

.main-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

.buy {
  background-color: #63a63e;
}

.buy:hover {
  background-color: #5fbb2d;
}

.buy:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

a.tab:active,
a.basket:active {
  color: rgba(255, 255, 255, 0.6);
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.goods-navigation a:hover {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

main.container {
background-color: #ffffff;
}

.top li {
  margin-bottom: 20px;
}

.top,
.bottom {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.top b,
.bottom b {
  display: block;
  padding-top: 23px;
  padding-right: 109px;
  padding-bottom: 11px;
  padding-left: 23px;
  font-family: "Cuprum", Arial, Sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  color: #ffffff;
}

.material {
  margin-right: 20px;

  background-color: #ffbf47;
  background-image: url("../img/icon-material.svg");
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.top .pushbutton,
.bottom .pushbutton {
  margin-bottom: 22px;
  margin-left: 25px;
}

.bottom {
  width: 300px;
}

.tool {
  background-color: #3bbce3;
  margin-right: 20px;

  background-image: url("../img/icon-tool.svg");
  background-repeat: no-repeat;
  background-position: 197px 33px;
}

.equipment {
  background-color: #dc91d8;
  background-image: url("../img/icon-equipment.svg");
  background-repeat: no-repeat;
  background-position: 191px 31px;
}

.discount {
  background-color: #8ed78f;
  margin-bottom: 20px;

  background-image: url("../img/icon-discount.svg");
  background-repeat: no-repeat;
  background-position: 196px 26px;
}

.bottom .delivery-top {
  background-color: #ffc047;
  background-image: url("../img/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: 191px 32px;
}

.bottom {
  flex-direction: column;
  align-items: flex-start;
}

.top li,
.bottom li {
  width: 300px;
}

.item-slider {
  position: relative;
}

.slider-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.main-slider {
  margin-bottom: 53px;
}

.slider {
  margin: 0;
  padding: 0;

  list-style: none;
  position: relative;
  width: 620px;
  height: 266px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;

  background-color: #000000;
}

.slider-item {
  position: relative;
}

.slide-1 {
  display: none;
}

.slide-2 {
  display: block;
}

.slider .button {
  position: absolute;
  top: 206px;
  left: 25px;
  display: block;
  padding-right: 45px;
  padding-left: 49px;
}

.slider b {
  position: absolute;
  top: 27px;
  left: 24px;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

.slider p {
  position: absolute;
  top: 65px;
  left: 25px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.33;
}

.slider-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;

  vertical-align: top;

  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  top: 220px;
  left: 295px;
  z-index: 20;

  font-size: 0;
}

/* .slide {
  display: none;
}

#product-1:checked ~ .slider-wrapper #slide-1,
#product-2:checked ~ .slider-wrapper #slide-2 {
  display: block;
}

#product-1:checked ~ .slider-wrapper label[for="product-1"],
#product-2:checked ~ .slider-wrapper label[for="product-2"] {
  background-color: #ee3643;
  border: 2px solid #ffffff;
}

#product-1:checked ~ .slider-wrapper {
  background-color: #849d8f;
  background-image: url("img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("img/slider-item2.png");
} */

.popular-goods .header,
.popular-brands .header {
  display: flex;
  background-color: #f9f5f0;
}

.popular-goods .header {
  margin-bottom: 21px;
}

.popular-goods .button,
.popular-brands .button {
  width: 253px;
  margin-top: 25px;
  margin-right: 24px;
  margin-bottom: 26px;
  margin-left: auto;
}

.popular-goods h2,
.popular-brands h2 {
  margin-top: 29px;
  margin-bottom: 30px;
  margin-left: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
}

.brands {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 20px;
}

.brand {
    border: solid 1px #eaeaea;
}

.good .tab,
.good .order {
  display: block;
}

p.hover-visible {
  margin: 0;
  padding: 0;
  margin-top: 44px;
  margin-right: 42px;
  margin-left: 41px;
}

.good .tab {
  padding-top: 11px;
  padding-right: 29px;
  padding-bottom: 9px;
  padding-left: 33px;
  color: #32425c;

  background-color: #ffffff;
  border: solid 3px #63a63e;
}

.good .tab:hover {
  border: solid 3px #32425c;
}

.good .tab:active {
  opacity: 0.3;
  color: #32425c;
  border: solid 3px #32425c;
}

.good h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: #000000;
}

.popular-goods {
  margin-bottom: 20px;
}

.good .deleted-price {
  color: #a9a9a9;
  text-decoration: line-through;
}

.goods {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.inner-page .goods {
  width: 700px;
}

.good {
  position: relative;
  display: inline-block;
  width: 218px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;

  line-height: 20px;
  font-weight: bold;
  text-align: center;

  border: 1px solid #cccccc;
}

.popular-goods .good:nth-child(4n) {
  margin-right: 0;
}

.inner-page .good {
  margin-right: 20px;
}

.inner-page .good:nth-child(3n) {
  margin-right: 0;
}

.goods {
  font-size: 0;
}

.good {
  font-size: 16px;
}

.good .flag,
.item-slider .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.item-slider .flag {
  top: 0;
  right: 0;
}

.good .flag-new,
.item-slider .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.good .hover-visible {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.good .hover-visible .buy,
.good .hover-visible .tab {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.good .hover-visible .tab {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.good .hover-visible {
  display: none;
}

.good:hover .hover-visible {
  display: block;
}

.good:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.good .image {
  width: 218px;
  height: 168px;
}

.good .image img {
  max-width: 100%;
}

.good .h3 {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.good .deleted {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;

  color: #999999;
  text-decoration: line-through;
}

.good .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  color: #ffffff;
  background: #ee3643;
  border-radius: 3px;
}

.good .price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 20px solid #ffffff;
  border-left-color: #ee3643;
}

 a.brand:hover,
 a.brand:focus {
   box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

a.brand:active {
  object-fit: contain;
  opacity: 0.3;
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.brand {
  display: flex;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
}

.brand img {
  margin: 0;
  padding: 0;
  margin: auto;
}
.brands {
  flex-wrap: wrap;
}

.popular-brands {
  margin-bottom: 65px;
}

.services p,
.services h2,
.services h3 {
  margin: 0;
  padding: 0;
}

section.services {
  background-color: #f4f7f9;
  margin-bottom: 82px;
}

section.services .container {
  padding-top: 65px;
}

.services-slider {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-slide {
  position: relative;
  margin-left: 80px;
  width: 620px;
  min-height: 282px;
}

.delivery::before {
  content: "";

  position: absolute;
  top: 21px;
  left: 151px;

  width: 468px;
  height: 261px;

  background-image: url("../img/delivery.png");
}

.delivery {
  display: block;
}

.guaranty {
  display: none;
}

.credit {
  display: none;
}

.credit::before {
  content: "";

  position: absolute;
  top: 0;
  left: 165px;

  width: 465px;
  height: 285px;

  background-image: url("../img/credit.png");
}

.credit p {
  margin-bottom: 26px;
}

.button-credit {
  padding-right: 45px;
  padding-left: 45px;
}

.guaranty p {
  width: 379px;
}

.guaranty::before {
  content: "";

  position: absolute;
  top: 0;
  left: 239px;

  width: 389px;
  height: 283px;

  background-image: url("../img/guaranty.png");
}

.credit p {
  width: 279px;
}

.delivery p {
  margin: 0;
  padding: 0;
  width: 275px;
}

.services .container > p {
  width: 398px;
  margin-bottom: 70px;
}

.services h3 {
  margin-bottom: 28px;
}

.services h2,
.services h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
}

.services h2,
.about-us h2,
.contacts h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}

.contacts .button {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.bottom-wrapper {
  display: flex;
  justify-content: space-between;
}

.bottom-wrapper .button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
}

section.about-us {
  width: 520px;
}

.about-us p {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

section.contacts {
  width: 300px;
}

.services h3 {
  font-size: 36px;
  color: #32425c;
}

.services-list button {
  width: 240px;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 23px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.43;
  text-align: left;
  text-transform: capitalize;
  box-shadow: 0px 1px 0 0 var(--dark), inset 0px 1px 0 0 #405069;
  border-radius: 0px;
  background-color: #32425c;
}

.services-list button:hover {
  box-shadow: 0px 1px 0 0 var(--dark), inset 0px 1px 0 0 #405069;
  background-color: var(--dark);
  background-color: #293449;
}

.services-list button:active,
.services-list button:focus {
  color: #32425c;

  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;
}

.about-us h2,
section.contacts h2 {
  margin-bottom: 33px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 1;
  color: #000000;
}

.transport {
  padding: 0;
  margin: 0;

  margin-top: 36px;
  margin-bottom: 36px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.11;
  list-style: none;
}

.transport li {
  position: relative;
  padding-bottom: 20px;
  padding-left: 36px;
}

.transport li:last-child {
  padding-bottom: 0;
}

.transport li::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

section.contacts p {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

section.contacts img {
  margin-bottom: 40px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
}

.footer-top {
  background-color: #32425c;
  margin-top: 86px;
}

.footer-bottom {
  background-color: #293449;
}

footer .logo {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-right: 41px;
  padding-bottom: 18px;
  padding-left: 41px;
  margin-right: 20px;
  margin-bottom: 32px;

  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.footer-top,
.footer-top a,
.footer-bottom {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: #f1f5f7;
}

.footer-contacts,
.footer-contacts a {
  font-size: 18px;
  line-height: 1.33;
  color: #f3f7f9;
}

.footer-contacts {
  margin-bottom: 53px;
}

.footer-contacts a {
  display: block;
}

footer {
  margin-top: 86px;
}

.footer-main-navigation,
.goods-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  margin-left: auto;

  list-style: none;
}

.footer-main-navigation {
  margin-bottom: 40px;
}

.footer-main-navigation a {
  color: #f1f5f7;
}

.goods-navigation {
  margin-bottom: 73px;
}

.footer-main-navigation li,
.goods-navigation li {
  margin-right: 60px;
}

.footer-main-navigation li:last-child,
.goods-navigation li:last-child {
  margin-right: 0;
}

.goods-navigation a,
.goods-navigation a:hover {
  color: #ffd180;
}

.goods-navigation a:hover,
.footer-main-navigation a:hover {
  text-decoration: underline;
  background-color: inherit;
}

.goods-navigation a:active,
.footer-main-navigation a:active {
  text-decoration: none;
  opacity: 0.5;
  background-color: inherit;
}

.footer-bottom .container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 39px;
  padding-right: 10px;
  padding-bottom: 35px;
}

.footer-copyright {
  margin: 0;
  padding: 0;
  margin-right: 161px;

  font-size: 16px;
  line-height: 1.13;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 132px;
  margin: 0;
  margin-right: 119px;
  padding: 0;

  list-style: none;
}

.social-button {
  display: block;
  position: relative;
  width: 42px;
  height: 42px;

  border-radius: 50%;
  background-color: #212a3a;
}

.social-button-vk {
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button-fb {
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button-insta {
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.contact,
.copyright-html {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 1.13;
}

.contact {
  margin-right: 53px;
}

.contact a,
.copyright-html a {
  display: block;
  color: #ffd180;
}

.contact a:hover,
.copyright-html a:hover {
  text-decoration: underline;
}

.contact a:active,
.copyright-html a:active {
  color: #ee3643;
  text-decoration: none;
}

.user-navigation a {
  font-size: 21px;
  line-height: 1;
  color: #000000;
}

.user-navigation .exit {
  color: #c5c5c5;
}

.authorization {
  list-style: none;
}

.authorization a {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
}

.authorization a:hover,
.authorization a:focus {
color: #ee3643;
}

.authorization a:active {
  color: rgba(50, 66, 92, 0.3);
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  margin-bottom: 21px;
  text-transform: uppercase;
  list-style: none;
  font-size: 13px;
  line-height: 1.38;
  color: #000000;
}

.breadcrumbs a {
  font: inherit;
  color: inherit;
}

.page-title {
  margin: 0;
  padding: 0;
  padding: 30px;
  margin-bottom: 20px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  color: #32425c;

  text-transform: uppercase;
  background-color: #f2f6f8;
}

.breadcrumbs li {
  position: relative;

  margin-right: 41px;
}

.breadcrumbs li:first-child {
  padding-left: 20px;
}

.breadcrumbs .icon-home::before {
  content: "";

  position: absolute;
  top: 2px;
  right: 5px;

  width: 14px;
  height: 12px;

  background: url(../img/icon-home.svg);
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 2px;
  right: -25px;

  width: 8px;
  height: 12px;

  background: url(../img/icon-right-small.svg);
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}

.perforator {
  background-color: #f4f7f9;
}

.filter,
.sort {
  color: #000000;
  text-transform: uppercase;
}

.filter {
  width: 220px;
  min-height: 746px;
  margin-right: 20px;
}

.filter h2,
.sort h2 {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  font-size: 13px;
  line-height: 1.38;
  font-weight: normal;

  background-color: #f7f3ec;
}

.filter h2 {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.sort h2 {
  padding-right: 139px;
}

.filter ul {
  padding: 0;
  margin: 0;

  list-style: none;
  line-height: 1.33;
}

.filter fieldset {
   border: 0 none;
}

.filter legend {
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.filter fieldset:last-child {
  margin-bottom: 58px;
}

.filter label {
  font-size: 15px;
  line-height: 1.33;
}

.filter-option {
  margin-bottom: 17px;
  padding-left: 35px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;

  width: 23px;
  height: 23px;

  background: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:hover + label::before {
  background: url("../img/checkbox-off-hover.svg");
}

.filter-input-checkbox:checked + label::before {
  content: "";

  position: absolute;
  left: -35px;
  top: 0;

  width: 27px;
  height: 23px;

  background: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:checked:hover + label::before {
  background: url("../img/checkbox-on-hover.svg")
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -35px;
  top: -3px;

  width: 17px;
  height: 17px;

  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:hover + label::before {
  border: 4px solid #b5b5b5;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  left: -27px;
  top: 5px;

  width: 10px;
  height: 10px;

  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked:hover + label::after {
  background-color: #b5b5b5;
}

.button-filter {
  color: #000000;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

input[type="number"] {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.06;
  text-align: center;
  color: #000000;

  background-color: #f7f3ec;
}

input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
  color: rgba(0, 0, 0, 0.4);
}

.sort {
  display: flex;
  align-items: center;
  width: 700px;
  min-height: 38px;
  background-color: #f7f3ec;
  margin-bottom: 20px;
}

.sort a {
  display: block;
  margin-right: 65px;

  font-family: inherit;
  font-size: 13px;
  line-height: 1.38;
  color: rgba(0, 0, 0, 0.18);

  border-bottom: 1px dotted #ee3643;
}

.sort a:first-child {
  margin-right: 71px;
}

.sort a:last-child {
  margin-right: 106px;
}

.sort a:hover,
.sort a:focus {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}

.sort a:active {
  color: #ee3643;

  border: none;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 274px;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;

  list-style: none;
  min-height: 38px;
}

.pagination-item a {
  display: block;
  padding: 10px 16px;

  border: solid 1px #e5e5e5;
  font-size: 13px;
  line-height: 1.38;;
  color: #000000;
  text-transform: uppercase;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

 .pagination-item:last-child a {
  padding-left: 31px;
  padding-right: 31px;
}

.pagination-item a:hover,
.pagination-item a:focus,
.button-filter:hover,
.button-filter:focus {
   background-color: #ffffff;
   border: solid 1px #bdc6ca;
}

.pagination-item a:active,
.button-filter:active {
  background-color: #ffffff;
  border: solid 1px #ee3643;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
}

.inner-page .goods {
  margin-bottom: 32px;
}

.catalog-columns {
  display: flex;
}

section.perforator {
  padding-top: 67px;
  padding-bottom: 73px;
  background-color: #f4f7f9;
}

section.perforator h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  text-transform: uppercase;
}

section.perforator p {
  margin: 0;
  padding: 0;
}

/* .modal-write,
.modal-map {
  display: none;
} */

.modal {
  position: fixed;

  background-color: #ffffff;
}

.modal-write,
.modal-order {
  border-top: 7px solid #ee3643;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.modal-write {
  display: none;
  bottom: 200px;
  left: 50%;
  padding-top: 55px;

  margin-left: -310px;
}

.modal-wrapper {
  padding-right: 80px;
  padding-left: 80px;
  width: 460px;
}

.modal-close {
  position: absolute;

  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;

  font-size: 0;

  background-color: #ffffff;
  background-image: url("../img/icon-close.svg");
  border: 0;

  cursor: pointer;
}

.modal-write label {
  display: block;
  margin-bottom: 13px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 1;
  color: #000000;
}

.modal-write .user-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.modal-write input,
.modal-write textarea {
  box-sizing: border-box;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  width: 220px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  color: #999999;

  border: 2px solid #dee3e4;
}

.modal-write textarea {
  width: 100%;
  min-height: 114px;
  margin-bottom: 37px;
}

.modal-write input:hover,
.modal-write textarea:hover {
  border: solid 2px #999999;
}

.modal-write input:focus,
.modal-write textarea:focus {
  border: solid 2px #ee3643;
}

.modal-write .button-submit {
  padding-top: 37px;
  padding-bottom: 37px;
  width: auto;

  background-color: #f4f4f4;
}

.modal-write .button {
  box-sizing: border-box;
  width: 100%;
}

.modal-map img {
   box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
   background-color: #565656;
}

.modal-map {
  display: block;
  top: 50%;
  left: 50%;

  width: 940px;
  height: 447px;
  margin-top: -223px;
  margin-left: -470px;
}

.modal-map .modal-close {
  background-color: transparent;
}

.modal-order {
  display: none;
  top: 200px;
  left: 50%;
  padding-top: 65px;

  margin-left: -310px;
}

.modal-order p {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  margin-bottom: 66px;
  padding-left: 99px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 1;
  color: #000000;
}

.modal-order p::before {
  content: "";

  position: absolute;
  top: 55px;
  left: 81px;

  width: 66px;
  height: 66px;

  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-order .button {
  box-sizing: border-box;
  width: 220px;
}

.modal-order .back {
  box-sizing: border-box;
  width: 220px;
  color: #000000;

  background-color: #ffffff;
}

.order .modal-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 37px;
  padding-bottom: 37px;

  background-color: #f1f1f1;
}
